go 1.26.1

use (
	./backend/app/admin/manager
	./backend/app/admin/member
	./backend/app/service/account
	./backend/app/service/agent
	./backend/app/service/member
	./backend/kapis
	./backend/library
)
